#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "../zmk-nodefree-config/helper.h"
#include "includes/settings.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"

#define ___ &trans

#define DEFAULT 0
#define NAV     1
#define SYM     2
#define FUNC    3
#define MEDIA   4
#define MOUSE   5
#define NUM     6

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            display-name = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hs: homerow_shift {
            compatible = "zmk,behavior-hold-tap";
            display-name = "HOMEROW_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";

            bindings = <
	      // R1 Left
	      &kp Q &kp W &kp F &kp P &kp B
	      // R1 Right
	      &kp J &kp L &kp U &kp Y &kp SQT
	      // R2 Left
	      &hm_l LGUI A &hm_l LALT R &hm_l LCTL S &hm_shift_l LSHIFT T &kp G
	      // R2 Right
	      &kp M &hm_shift_r RSHIFT N &hm_r RCTL E &hm_r RALT I &hm_r RGUI O
	      // R3 Left
	      &kp Z &kp X &kp C &kp D &kp V
	      // R3 Right
	      &kp K &kp H &kp COMMA &kp DOT &kp FSLH

	      // Thumb Left
              &lt MEDIA ESC &lt NAV SPACE &lt MOUSE TAB
	      // Thumb Right
	      &lt SYM RET &lt NUM BSPC &lt FUNC DEL
            >;
        };

        nav_layer {
            display-name = "Navigation";

            bindings = <
	      // R1 Left
	      ___   ___   ___   ___   ___
	      // R1 Right
	      &kp K_REDO &kp K_PAST &kp K_COPY &kp K_CUT &kp K_UNDO
	      // R2 Left
	      &kp LGUI &kp LALT &kp LCTL &kp LSHIFT ___
	      // R2 Right
	      &caps_word &kp LEFT &kp DOWN &kp UP &kp RIGHT
	      // R3 Left
	      ___   ___   ___   ___   ___ 
	      // R3 Right
	      &kp INS &kp HOME &kp PG_DN &kp PG_UP &kp END
	      // Thumb Left
	      ___   ___   ___
	      // Thumb Right
	      &kp RET &kp BSP &kp DEL
            >;
        };

        
        sym_layer {
            display-name = "Symbols";

            bindings = <
	      // R1 Left
   	      &kp LBRC &kp AMPS &kp STAR &kp LPAR &kp RBRC
	      // R1 Right
	      ___   ___   ___   ___  ___
	      // R2 Left
	      &kp COLON &kp DLLR  &kp PRCNT &kp CARET &kp PLUS
	      // R2 Right
	      ___   &kp RSHIFT &kp RCTL &kp RALT &kp RGUI
	      // R3 Left
	      &kp TILDE &kp EXCL  &kp AT &kp HASH &kp PIPE
	      // R3 Right
	      ___   ___   ___   ___  ___
	      // Thumb Left
              &kp LPAR &kp RPAR &kp UNDER
	      // Thumb Right
	      ___   ___   ___
            >;
        };

        func_layer {
            display-name = "Function";

            bindings = <
	      // R1 Left
	      &kp F12 &kp F7 &kp F8 &kp F9 &kp PSCRN
	      // R1 Right
	      ___   ___   ___   ___  ___
	      // R2 Left
	      &kp F11 &kp F4 &kp F5 &kp F6 &kp SLCK
	      // R2 Right
	      ___   &kp RSHIFT &kp RCTL &kp RALT &kp RGUI
	      // R3 Left
	      &kp F10 &kp F1 &kp F2 &kp F3 &kp PAUSE_BREAK
	      // R3 Right 
	      ___   ___   ___   ___  ___
	      // Thumb Left
              &kp K_APP &kp SPACE &kp TAB   
	      // Thumb Right
	      ___   ___   ___
            >;
        };

        media_layer {
            display-name = "Media";

            bindings = <
	      // R1 Left
	      ___   ___   ___   ___   ___
	      // R1 Right
	      ___   ___  &kp C_BRI_DN &kp C_BRI_UP ___
	      // R2 Left
	      &kp LGUI &kp LALT &kp LCTL &kp LSHIFT ___
	      // R2 Right
	      ___   &kp C_PREV &kp K_VOL_DN &kp K_VOL_UP &kp C_NEXT
	      // R3 Left
	      ___   ___   ___   ___   ___
	      // R3 Right 
	      &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
	      // Thumb Left
              ___   ___   ___
	      // Thumb Right
	      &kp C_STOP &kp C_PP &kp C_MUTE
            >;
        };

        mouse_layer {
            display-name = "Mouse";

            bindings = <
	      // R1 Left
	      &bootloader ___  ___  ___  ___
	      // R1 Right
	      ___  ___  ___  ___  ___
	      // R2 Left
	      ___  ___  ___  ___  ___
	      // R2 Right
	      ___  ___  ___  ___  ___
	      // R3 Left
	      ___  ___  ___  ___  ___
	      // R3 Right 
	      ___  ___  ___  ___  ___
	      // Thumb Left
	      ___  ___  ___
	      // Thumb Right
	      ___  ___  ___
            >;
        };

        num_layer {
            display-name = "Number";

            bindings = <
	      // R1 Left
	      &kp LBKT &kp N7 &kp N8 &kp N9 &kp RBKT
	      // R1 Right
	      ___   ___   ___   ___  ___
	      // R2 Left
	      &kp SEMI &kp N4 &kp N5 &kp N6 &kp EQUAL
	      // R2 Right
	      ___   &kp RSHIFT &kp RCTL &kp RALT &kp RGUI
	      // R3 Left
	      &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH
	      // R3 Right 
	      ___   ___   ___   ___  ___
	      // Thumb Left
              &kp DOT &kp N0 &kp MINUS
	      // Thumb Right
	      ___   ___   ___
            >;
        };
   };
};
